

.Contenedor-calculadora{
    margin: 100px;
   
}
.numero{
    display: grid;
    grid-gap: 10px;    
    text-align: center;   
    background-color: #fff;
    height:400px ;
    width:400px ;
    border: solid 2px black;
 
}
.resultado{
    height: 100px;
    width:400px ;
    border: solid 2px black;
}
#boton:hover{
    background-color: #AAAAAA;
}

.uno{
    grid-column: 1 ;
    grid-row: 2;
    border: solid 1px #fff;
}

.dos{
    grid-column: 2;
    grid-row: 2 ;
}
.tres{
    grid-column: 3 ;
    grid-row: 2 ;
}


.cuatro{
    grid-column: 1;
    grid-row:3 ;
}

.cinco{
    grid-column: 2;
    grid-row: 3 ;
}

.seis{
    grid-column: 3;
    grid-row: 3 ;
}

.siete{
    grid-column: 1;
    grid-row: 4;
}

.ocho{
    grid-column: 2;
    grid-row: 4 ;
}

.nueve{
    grid-column: 3;
    grid-row: 4;
}
.cero {
    grid-column: 1 / 3;
    grid-row: 5; 
}
.division {
    grid-column: 2;
    grid-row: 1;
}
.multiplicacion{
    grid-column: 3;
    grid-row: 1;
}

.resta{
    grid-column: 4;
    grid-row: 1;
}

.suma{
    grid-column: 4;
    grid-row: 2/4;
}